
<h2> Country </h2>
  <%= @forecast.country_name %>

<h2> Temp 'C</h2>
<p>
  <%= @forecast.conditions['temp_c'] %>
</p>

<h2> Temp 'F</h2>
<p>
  <%= @forecast.conditions['temp_f'] %>
</p>

<h2> Temperature</h2>
<p>
  <%= @forecast.conditions['temperature_string'] %>
</p>


<h2> Weather by zip code</h2>
<p>
  <%= @forecast.zip_weather %>
</p>

