<h2> Local entertainment and shopping deals by zip code</h2>

<p>
  <%= @eightcoupon.local_deals %>
</p>

<h2> Deal Title</h2>
<p>
  <%= @eightcoupon.local_deals.first %>
</p>


<h2> First Deal</h2>
<p>
  <%= @eightcoupon.local_deals.first['dealTitle'] %><br />
  <%= @eightcoupon.local_deals.first['name'] %><br />
  <%= @eightcoupon.local_deals.first['address'] %><br />
  <%= @eightcoupon.local_deals.first['city'] %><br />
</p>

