<h2> Local entertainment and shopping deals by zip code</h2>

<p>
  <%= @eightcoupon.local_deals %>
</p>

<h2> Deal Title</h2>
<p>
  <%= @eightcoupon.local_deals.first %>
</p>


<h2> First Deal</h2>
<p>
  <%= @eightcoupon.local_deals.first['dealTitle'] %><br />
  <%= @eightcoupon.local_deals.first['name'] %><br />
  <%= @eightcoupon.local_deals.first['address'] %><br />
  <%= @eightcoupon.local_deals.first['city'] %><br />
</p>

<h2> Second Deal</h2>
<p>
  <%= @eightcoupon.local_deals.second['dealTitle'] %><br />
  <%= @eightcoupon.local_deals.second['name'] %><br />
  <%= @eightcoupon.local_deals.second['address'] %><br />
  <%= @eightcoupon.local_deals.second['city'] %><br />
</p>

<h2> Third Deal</h2>
<p>
  <%= @eightcoupon.local_deals.third['dealTitle'] %><br />
  <%= @eightcoupon.local_deals.third['name'] %><br />
  <%= @eightcoupon.local_deals.third['address'] %><br />
  <%= @eightcoupon.local_deals.third['city'] %><br />
</p>

<h2> Fourth Deal</h2>
<p>
  <%= @eightcoupon.local_deals.fourth['dealTitle'] %><br />
  <%= @eightcoupon.local_deals.fourth['name'] %><br />
  <%= @eightcoupon.local_deals.fourth['address'] %><br />
  <%= @eightcoupon.local_deals.fourth['city'] %><br />
</p>


<h2> Fifth Deal</h2>
<p>
  <%= @eightcoupon.local_deals.fifth['dealTitle'] %><br />
  <%= @eightcoupon.local_deals.fifth['name'] %><br />
  <%= @eightcoupon.local_deals.fifth['address'] %><br />
  <%= @eightcoupon.local_deals.fifth['city'] %><br />
</p>

